version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: attendance_api
    ports:
      - "8080:8080"
    environment:
      - ASPNETCORE_URLS=http://+:8080
      - ConnectionStrings__DefaultConnection=Host=db;Port=5432;Database=AttendanceDB;Username=postgres;Password=saposopo
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:16-alpine
    container_name: attendance_db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: saposopo
      POSTGRES_DB: AttendanceDB
    ports:
      - "5434:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d AttendanceDB"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: